@use '../utils/variables' as *;
@use 'sass:map';

.character-card {
    background-color: map.get($colors, platform-light);
    display: grid;
    grid-template-columns: 75px 1fr 75px ;
    overflow: hidden;
    
    .voice-actor-picture, .character-picture {
        height: 100%;
        position: relative;

        .mask {
            position: absolute;
            z-index: 2;
            height: 100%;
            width: 100%;
            transition: background-color .1s ease-in-out;

            &.selected {
                background-color: rgba(#000000, .5);
            }
        }

        img {
            position: relative;
            z-index: 1;
            height: 100%;
            object-fit: cover;
        }
    }

    .names {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        row-gap: 1rem;
        font-size: .80rem;
        
        > div {
            p {
                &:last-child {
                    opacity: 60%;
                }
            }
        }
        .voice-actor {
            text-align: right;
        }
    }
    .voice-actor-picture {

    }
}
