@use '../utils/variables' as *;
@use "sass:map";

html {
    body {
        padding: 20px;
        font-family: 'system-ui';
        color: white;
        background-color: map.get($colors, platform-base);
        margin: auto;
        text-align: center;
        
        #whoops {
            height: auto;
            max-width: 300px;
            margin: 1rem auto;
            border-bottom: 4px solid #C54B61;
        }

        a {
            color: #C54B61;

            &:visited {
                color: white;
            }
        }
    }
}