@use '../utils/variables' as *;
@use "sass:map";

#page-home {
    #greeting-image {
        min-height: 200px;
        max-height: 400px;
        position: relative;
        
        p {
            position: absolute;
            z-index: 3;
            right: 5%;
            bottom: 5%;
            font-size: 2rem;
        }

        .mask {
            position: absolute;
            z-index: 2;
            background-color: rgba(#000000, .5);
            width: 100%;
            height: 100%;
        }

        img {
            position: relative;
            z-index: 1;
            width: 100%;
            min-height: inherit;
            max-height: inherit;
            object-fit: cover;
        }
    }

    #app-overview {
        display: flex;
        flex-direction: column;
        row-gap: 2rem;

        > div {

        }
        #miru {
            .header {
                border-color: map.get($colors, miru-base);

                &__box {
                    background-color: map.get($colors, miru-base);
                }
            }
        }

        #yomu {
            .header {
                border-color: map.get($colors, yomu-base);

                &__box {
                    background-color: map.get($colors, yomu-base);
                }
            }
        }

        #asobu {
            .header {
                border-color: map.get($colors, asobu-base);

                &__box {
                    background-color: map.get($colors, asobu-base);
                }
            }
        }
    }
}

@media only screen and (min-width: 768px) {
    #page-home {
        #app-overview {
            display: grid;
            gap: 1rem;
            grid-template-columns: repeat(2, 1fr);

            .relation-media {
                img {
                    height: 150px;
                }
            }
        }
    }
}
@media only screen and (min-width: 1200px) {
    #page-home {
        #app-overview {
            grid-template-columns: repeat(3, 1fr);

            .relation-media {
                img {
                    height: 200px;
                }
            }
        }
    }
}