#page-arcadia-search {
    .container {
        display: flex;
        flex-direction: column;
        row-gap: 1rem;
    }
}

@media only screen and (min-width: 480px) {
    #page-arcadia-search {
        .container {
            flex-direction: row;
            flex-wrap: wrap;
            column-gap: 1rem;
            justify-content: space-between;
        }
    }
}