@use "../utils/variables" as *;
@use "sass:map";

#page-va-details {

    #two-col {
        #va-metadata {
            #va-photo {
                margin: 0 auto;
                height: 300px;
                width: 200px;
            }
            margin-bottom: 2rem;
        }

        #va-content {
            .characters {
                .container {
                    display: flex;
                    flex-direction: column;
                    row-gap: 2rem;

                    .character-details {
                        display: grid;
                        grid-template-columns: 150px 1fr;
                        column-gap: 2rem;
                        border-bottom: 2px solid map.get($colors, txt-fadded);

                        .character-overview {
                            img {
                                object-fit: cover;
                                height: 200px;
                            }
                        }
                        .appearances {
                            display: flex;
                            flex-direction: column;
                            row-gap: 1rem;

                            .relation-media {
                                height: 200px;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: 481px) {
    #page-va-details {
        #two-col {
            #va-metadata {
                display: grid;
                grid-template-columns: 1fr 1fr;
                column-gap: 1rem;
            }
        }
    }
}

@media only screen and (min-width: 768px) {
    #page-va-details {
        #two-col {
           
        }
    }
}

@media only screen and (min-width: 900px) {
    #page-va-details {
        #two-col {
            #va-metadata {
                #va-photo {
                    width: 100%;
                    object-fit: cover;
                    height: 350px;
                }
            }

            #va-content {
                #tab-container {
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    justify-content: center;
                    gap: 1rem;
                }
            }
        }
    }
}

@media only screen and (min-width: 1200px) {
    #page-va-details {
        #two-col {
            
            #va-content {
                #bio-statistics {
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    gap: 2rem;
                }
                .characters {
                    .container {
                        .character-details {
                            .appearances {
                                display: grid;
                                grid-template-columns: 1fr 1fr;
                                column-gap: 2rem;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: 1440px) {
    #page-va-details {
        #two-col {
            display: grid;
            column-gap: 2rem;
            grid-template-columns: 1fr 4fr;

            #va-metadata {
                display: flex;
                flex-direction: column;
                row-gap: 1rem;
            }
            #va-content {
                // .characters {
                //     .container {
                //         .character-details {
                //             .appearances {
                //                 display: grid;
                //                 grid-template-columns: 1fr 1fr;
                //                 gap: 1rem;
                //             }
                //         }
                //     }
                // }
            }
        }
    }
}