@use '../utils/variables' as *;
@use "sass:map";

#asobu-theme {
    .clr-app-emp { color: map.get($colors, asobu-base); }
    .header {
        border-color:  map.get($colors, asobu-base);
        &__box {
            background-color: map.get($colors, asobu-base);
        }
    }

    .chakra-table__root {
        .chakra-table__header {
            .chakra-table__row {
                background-color: map.get($colors, asobu-base);

                .chakra-table__columnHeader {
                    color: white;
                }
            }
        }

        .chakra-table__body {
            .chakra-table__row {
                background-color: map.get($colors, platform-card);
            }
        }
    }

    .chakra-button {
        &.btn-primary {
            background-color: map.get($colors, asobu-base);
            color: white;
        }
    }

    .tab-button__icon {
        background-color: map.get($colors, asobu-base);
    }

    .chakra-card__root {

        &.selected {
            border: 2px solid map.get($colors, asobu-base);
        }
    }
}