@use '../utils/variables' as *;
@use 'sass:map';

.chakra-native-select__root {
    .chakra-native-select__field {
        background-color: map.get($colors, platform-card);
    }
}

.chakra-popover__trigger {
    background-color: map.get($colors, platform-card);
}

.chakra-tabs__root {
    .chakra-tabs__list {
        .chakra-tabs__indicator, .chakra-tabs__trigger[aria-selected='true'] {
            background-color: map.get($colors, platform-card);
        }
    }
}

.chakra-input {
    background-color: map.get($colors, platform-light);
}

.chakra-card__root {
    background-color: map.get($colors, platform-light);
    overflow: hidden;

    &.selected {
        background-color: map.get($colors, platform-card);
    }
}