@use './utils/variables' as *;
@forward './themes/chakra-override';
@forward 'components';
@forward 'layouts';
@forward 'utils';
@forward 'base';
@use "sass:map";

html {
    body {
        height: auto;
        background-color: map.get($colors, platform-base);
        
        h1 {
            font-size: 2rem;
        }
        h2 {
            font-size: 1.5rem;
        }
        #main-layout {
            display: flex;
            flex-direction: column;
            height: 100vh;

            #side-nav {
                display: none;
            }

            #inner-layout {
                display: flex;
                flex-direction: column;

                #content {
                    flex: 1;
                    overflow-y: auto;
                    padding: 1rem;

                    #content-wrapper {
                        max-width: 1320px;
                        margin: 0 auto;
                        width: 100%;

                        .chakra-breadcrumb__root {
                            margin-bottom: 2rem;
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: 900px) {
    html {
        body {
            #main-layout {
                display: grid;
                grid-template-columns: 150px 1fr;
                grid-template-rows: 1fr;

                #side-nav {
                    display: block;
                    height: 100vh;
                }

                #inner-layout {
                    height: 100vh;
                    display: flex;
                    flex-direction: column;
                }
            }
        }
    }
}
