.relation-media {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;

    img {
        width: 100%;
        height: 200px;
        object-fit: cover;
        margin-right: 1rem;
    }

    > div {
        padding-left: 1rem;
    }
}