#page-asobu-gamelist {
    #overview {
        display: flex;
        flex-direction: column;
        row-gap: 1rem;

        #stats-container {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 1rem;
        }
    }
}

@media only screen and (min-width: 768px) {
    #page-asobu-gamelist {
        #overview {
            display: grid;
            grid-template-columns: 4fr 1fr;
            column-gap: 1rem;
            align-items: center;

            #stats-container {
                grid-template-columns: repeat(3, 1fr);
            }
        }
    }
}

@media only screen and (min-width: 1480px) {
    #page-asobu-gamelist {
        #overview {
            #stats-container {
                grid-template-columns: repeat(5, 1fr);
            }
        }
    }
}