@use './variables' as *;
@use "sass:map";
@use "sass:string";

@each $name, $spacing in $spacing {
    .p-l-#{$name} {
        padding-left: $spacing;
    }
    .p-r-#{$name} {
        padding-right: $spacing;
    }
    .p-t-#{$name} {
        padding-top: $spacing;
    }
    .p-b-#{$name} {
        padding-bottom: $spacing;
    }
    .p-a-#{$name} {
       padding: $spacing;
    }
}

@each $name, $spacing in $spacing {
    .m-l-#{$name} {
        margin-left: $spacing;
    }
    .m-r-#{$name} {
        margin-right: $spacing;
    }
    .m-t-#{$name} {
        margin-top: $spacing;
    }
    .m-b-#{$name} {
        margin-bottom: $spacing;
    }
    .m-a-#{$name} {
       margin: $spacing;
    }
}