@use "../../utils/variables" as *;
@use 'sass:map';

.header {
    display: flex;
    align-items: center;
    column-gap: 14px;
    border-bottom: 2px solid;
    margin-bottom: .5rem;

    &__box {
        height: 16px;
        width: 16px;
        border-radius: 4px;
    }

    &--linked {
        justify-content: space-between;

        >div {
            display: flex;
            align-items: center;
            column-gap: 14px;
        }

        a {
            color: map.get($colors, txt-fadded)
        }
    }
}