// SECTIONS With ID
// hero
// metadata-column
// tab-container
// character-container

.media-detail {
    #hero {

        display: flex;
        flex-direction: column;
        row-gap: 1rem;

        #synopsis, #latest {
            background-color: #1C1D21;
        }

        #synopsis {
            #hero-image {
                height: 150px;
                width: 100%;
                object-fit: cover;
            }

            #hero-text {
                padding: 1rem;
                
                #title {
                    font-weight: bold;
                    font-size: 1.5rem;
                }

                #summary {
                    min-height: 150px;
                    max-height: 200px;
                    font-size: .85rem;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    display: -webkit-box;
                    -webkit-line-clamp: 8;
                    -webkit-box-orient: vertical;
                }
            }
        }

        #latest {

        }
    }

    #metadata-column {
        display: flex;
        flex-direction: column;
        row-gap: 1rem;
        margin-bottom: 1rem;
    }
    
    #tab-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 2rem;
        margin-bottom: 2rem;
    }

    #franchise-section {
        .card {
            position: relative;
            border-radius: 12px;
            height: 300px;

            img {
                position: relative;
                height: 100%;
                width: 100%;
                object-fit: cover;
                z-index: 1;
            }

            .mask {
                position: absolute;
                z-index: 2;
                background: linear-gradient(to top,#000000 0%, rgba(#000000, 25%) 50%);
                height: 100%;
                width: 100%;
                top: 0;
            }

            p {
                position: absolute;
                z-index: 3;
                bottom: 1rem;
                right: 1rem;
                font-size: 1.5rem;
                font-weight: bold;
            }
        }
    }
    .character-container {
        display: flex;
        flex-direction: column;
        row-gap: 1rem;
    }

    .two-column {
        display: flex;
        flex-direction: column;
        row-gap: 1rem;
    }
}

@media only screen and (min-width: 768px) {
    .media-detail {
        #hero {
            display: grid;
            align-items: stretch;
            grid-template-columns: 4fr 3fr;
            column-gap: 2rem;
        }

        .character-container {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 1rem;
        }
    }
}

@media only screen and (min-width: 900px) {
    .media-detail {
        .two-column {
            display: grid;
            grid-template-columns: 1fr 1fr;
            column-gap: 1rem;
        }
    }
}

@media only screen and (min-width: 1400px) {
    .media-detail {
        #franchise-section {
            .card {
                height: 250px;
            }
        }
    }
}
@media only screen and (min-width: 1400px) {
    .media-detail {
        .character-container {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 1rem;
        }
    }
}