@use '../utils/variables' as *;
@use "sass:map";

#side-nav {
    background-color: map.get($colors, platform-dark);
    min-height: 100dvh;
    width: 150px;
    border-right: 1px solid #33343a;
    
    .icon {
        height: 64px;
        border-bottom: 1px solid #33343a;
        padding: .5rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .links {
        padding: 1rem;
        display: flex;
        flex-direction: column;
        row-gap: .5rem;
    }
}