#page-miru-search {
    display: flex;
    flex-direction: column;

    #results {
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;
    }
}

@media only screen and (min-width: 900px) {
    #page-miru-search{
        display: grid;
        grid-template-columns: 1fr 4fr;
        column-gap: 2rem;
    }
}

@media only screen and (min-width: 1200px) {
    #page-miru-search {
        #results {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 1.5rem;
        }
    }
}

@media only screen and (min-width: 1600px) {
    #page-miru-search {
        #results {
            grid-template-columns: 1fr 1fr 1fr;
        }
    }
}