@use '../utils/variables' as *;
@use "sass:map";
@use "sass:string";

.bold {
    font-weight: bold;
}

.hover-underline {
    &:hover {
        cursor: pointer;
        text-decoration: underline;
    }
}

@each $name, $size in $text-size {
    .txt-#{$name} {
        font-size: $size;
    }
}