@use '../utils/variables' as *;
@use "sass:map";
@use "sass:string";

@each $name, $color in $colors {
    .clr-#{$name} {
        color: #{$color} !important
    }

    .bg-#{$name} {
        background-color: #{$color} !important
    }

    .border-#{$name} {
        border-color: #{$color} 
    }
}